.list-header {
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $gray;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-body {
    margin-bottom: $m-size;
}

.list-body__graph {
    margin-bottom: $l-size;
}

.list-item {
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-gray;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $off-white;
    }
    &:hover .list-item__note {
        opacity: .8;
    }

    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.list-item__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // min-height: 122px;
    overflow: hidden;
    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        height: auto;
    }
}

.list-item__note {
    align-self: center;
    color: $dark-blue;
    margin: 0 $m-size 0 0;
    max-height: 100px;
    max-width: 50vw;
    opacity: 0;
    overflow: hidden;
    text-align: end;
    text-overflow: ellipsis;
    transition: opacity .3s;
    white-space: nowrap;
    @media (min-width: $desktop-breakpoint) {
        margin: 0 $s-size 0 $xl-size;
        text-align: start;
    }
}

.list-item--message {
    align-items: center;
    color: $gray;
    justify-content: center;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item--graph-message {
    @extend .list-item--message;
    background: $off-white;
    border-top: 1px solid darken($off-white, 7%);
    &:hover {
        background: $off-white;
    }
}

.list-item__left {
    max-width: 60vw;
    @media (min-width: $desktop-breakpoint) {
        max-width: 40vw;
    }
}    

.list-item__title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.list-item__sub-title {
    color: $gray;
    font-size: $font-size-small;
}

.list-item__data {
    // margin: -29px 0 0 0;
    z-index: 2;
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}

.additions-list {
    list-style-type: none;
    padding: 0px;
}

.additions-list-section {
    @extend .list-item;
    background: $dark-blue;
    border-right: none;
    color: white;
    font-size: $l-size;
    font-weight: 200;
    margin-top: $m-size;
    padding-left: $l-size; 
    &:hover {
        background: $dark-blue;
    }
}

.additions-list__sub {
    @extend .additions-list;
    font-size: $m-size;
    font-weight: 700;
    padding: 1rem 0 0 $m-size;
    @media (min-width: $desktop-breakpoint) {
        padding-left: $l-size;
    }
}
.additions-list__sub__sub {
    font-weight: 400;
    list-style: none;
    margin-left: (-$l-size);
    padding-right: $l-size;
}

.additions-list-item {
    padding-left: 1em;
    text-indent: -.5em;
}

.additions-list-item:before {
    content: '\27A4';
    color: $yellow;
    font-family: auto;
    margin-right: 4px;
}

.additions-list-item--code {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}