.page-header {
    background: $off-white;
    margin: 0 0 $m-size;
    padding: $m-size 0;
}

.page-header__actions {
    margin: $s-size 0 $s-size 0;
    text-align: center;
}

.page-header__title {
    font-weight: 200;
    span {
        font-weight: 700;
    }
    @media (min-width: $desktop-breakpoint) {
        margin-bottom: -.5rem;
    }
}

.page-header__title--summary {
    text-align: center;
}